# This environment file is specifically for the Docker build

DJANGO_SECRET_KEY=your-super-secret-key

DEBUG=False

LOGLEVEL=info

ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

# These are settings for the Redis Docker container
REDIS_PASSWORD=redis-password
REDIS_CACHE_URL=redis://default:${REDIS_PASSWORD}@redis:6379/0
REDIS_SESSION_URL=redis://default:${REDIS_PASSWORD}@redis:6379/1
REDIS_CELERY_URL=redis://default:${REDIS_PASSWORD}@redis:6379/2

# Settings for the postgres Docker container
# Note: If you want to develop locally without using Docker,
# change the variables to use your local database. DATABASE_HOST is the most important one to change.
DATABASE_NAME=questlog_db
DATABASE_USERNAME=django
DATABASE_PASSWORD=django-password
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_HOST=db
DATABASE_PORT=5432