DJANGO_SECRET_KEY=some-secret-key

DEBUG=False

ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

CORS_ALLOWED_ORIGINS=http://localhost:3000

CSRF_TRUSTED_ORIGINS=http://localhost:3000

JWT_SECRET_KEY=another-secret-key

BACKEND_URL=http://localhost:8000

FRONTEND_URL=http://localhost:3000

BGG_API_TOKEN=another-secret-key

# DOMAIN_URL=https://QuestLog.com

# DATABASE_URL=postgres://user:password@localhost:5432/questlog_db